binary
cmake-build-debug
build
my-build
src/sdf-hoa-opt
src/sdf-hoa-debug
src/sdf-tlsf-opt
src/sdf-tlsf-debug
sdf.cbp
src/*.aag
src/*.ehoa
ideas
TODO.md
FLOW
CMakeCache.txt
CMakeFiles
Testing
cmake_install.cmake
tests/run_tests
tests/sdf-tests.cbp
Makefile
CTestTestfile.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dot graphs
*.dot

#
func_tests/last.log
*/__pycache__
*/.idea
.idea
setup.sh

tags
